.footer {
  background-color: #170312;
  color: white;
  padding: 2.5rem 1.2rem 1.2rem;
  border-radius: 70px 70px 0px 0px;
}

.footerContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.footerSection h4 {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.footerSection ul {
  list-style: none;
  padding: 0;
}

.footerSection ul li {
  margin-bottom: 0.75rem;
  cursor: pointer;
}

.footerSection ul li:hover {
  color: var(--blue2);
}

.footerBottom {
  text-align: center;
  margin-top: 3rem;
  padding-top: 1rem;
  border-top: 1px solid #334155;
}
