.featureSection {
  display: flex;
  justify-content: space-around;
  padding: 3rem 2rem 1rem 2rem;
  margin: 0 auto;
}

.featureCard {
  flex-basis: calc(33.333% - 2rem);
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.featureCard:hover {
  transform: translateY(-5px);
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11rem;
  height: 11rem;
  margin: 0 auto 1rem;
  background-color: #f0f0f0;
  border-radius: 50%;
}

.icon {
  height: 100%;
  object-fit: cover;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
}

.description {
  font-size: 1rem;
  color: var(--gray1);
  line-height: 1.5;
}

@media (max-width: 768px) {
  .featureCard {
    flex-basis: calc(50% - 2rem);
  }
}

@media (max-width: 480px) {
  .featureCard {
    flex-basis: 100%;
  }
}