:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --pri : #1f7a8c;
  --sec: #bfdbf7;
  --light: #F5F5f5;
  --dark: black;
  --gray1: #64748b;
  --gray2: #b9cad8;
  --green1: #022b3a;
  --green2: #6fabc2;
  --blue1: #053c5e;
  --blue2: #2585e4;

}
